* {
    margin: 2px;
    padding: 0;
    list-style: none;
}
.borda{
    border-style: solid;
    border-color: black;
}

table{
    border-style: solid;
    background: white;
    border-color: black;
}

th{
    background-color: gray;
    background-image: url("");
}

 .amarelo {
    background: yellow;
     border-style: dashed;
     border-color: red;
}

thead{
    text-align: left;
    background-color: gray;
}

input.Enviar{
    position: relative;
    left: 120px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.menu, ul,li {
    list-style: none;
    display: inline;
}